
img {
  width: 320px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
}

.linkedin-img {
  border-radius: 0;
}

* {
  box-sizing: border-box;
  font-family: fantasy, sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 4px black;
}


section {
  height: 100vh;
  text-align: center;
  border: 1px solid transparent;
}

#first {
  background-color: #3f7cad;
  align-content: center;
}

#intro {
  background-color: #87CEEB;
}

#about {
  background-color: #B0E0E6;
}

#contact {
  background-color: #ADD8E6;
}

footer {
  background-color: aqua;
  position: fixed;
  font-size: 20px;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}

ul, ol {
  display: table;
  margin: 0 auto;
  text-align: justify;
}

a {
  color: rgb(63, 137, 240);
}

a:hover {
  color:rgb(123, 218, 244);
}

a:active {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: -50px;
}

iframe {
  margin-top: -70px;

}

hr {
  border-top: 8px dotted white;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(80, 194, 251);
}





